button {
    height: 40px;
    width: 196px;
    background-color: rgb(0, 128, 0);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid rgb(0, 128, 0);
}

.button-largo {
    width: 196px;
}

.button-curto {
    width: 40px;
}

button:hover {
    background-color: rgb(0, 64, 0);
    border: 1px solid rgb(0, 64, 0);
}